.Contact {
	max-width: 600px;
	margin: 250px auto;
	width: 600px;
}

h2 {
	text-align: center;
	margin-bottom: 35px;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form input,
textarea {
	border: 2px solid #dfdfdf;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 500;
	outline: none;
	margin-bottom: 20px;
}

.contact-form .submitted {
	margin-bottom: 0px;
}

.contact-form p {
	color: red;
	margin-bottom: 10px;
	font-size: 14px;
}

input {
	height: 34px;
}

textarea {
	height: 100px;
	padding: 5px 10px;
}

label {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 2px;
}

.contact-form .submit {
	height: 40px;
	text-transform: uppercase;
	background-color: #4882a7;
	color: white;
	outline: none;
	border: none;
	cursor: pointer;
}

@media (max-width: 768px) {
	.Contact {
		width: 400px;
	}
}
