.banner {
	width: 100%;
}

.button-next-slide .button-next-standart {
	color: white;
	position: absolute;
	z-index: 100;
	top: 47%;
	right: 10px;
	font-size: 55px;
	cursor: pointer;
	opacity: 0.7;
	transition: all 3s ease;
}

.button-prev-slide .button-prev-standart {
	color: white;
	position: absolute;
	z-index: 10;
	top: 47%;
	left: 10px;
	font-size: 55px;
	cursor: pointer;
	transition: all 3s ease;
	opacity: 0.7;
}

.button-prev-on-hover {
	display: none;
	color: white;
	position: absolute;
	z-index: 10;
	top: 47%;
	left: 10px;
	font-size: 55px;
	cursor: pointer;
	transition: all 3s ease;
}

.button-next-on-hover {
	display: none;
	color: white;
	position: absolute;
	z-index: 100;
	top: 47%;
	right: 10px;
	font-size: 55px;
	cursor: pointer;
	transition: all 3s ease;
}

.button-prev-slide:hover .button-prev-standart,
.button-next-slide:hover .button-next-standart {
	display: none;
}
.button-prev-slide:hover .button-prev-on-hover,
.button-next-slide:hover .button-next-on-hover {
	display: block;
}

.swiper-pagination-bullet {
	background: white !important;
	width: 15px !important;
	height: 15px !important;
}

.swiper-pagination {
	bottom: 18% !important;
}

.banner-text {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	z-index: 1000;
	color: white;
	bottom: 330px;
	left: 15%;
	width: 920px;
	font-size: 18px;
	font-weight: 600;
	height: 150px;
	padding: 32px 0 32px 20px;
}

@media (max-width: 1280px) {
	.banner-text {
		padding: 10px 0 10px 20px;
		font-size: 16px;
		height: 100px;
		width: 800px;
		bottom: 230px;
		left: 10%;
	}

	.button-next-slide .button-next-standart {
		top: 40%;
	}

	.button-prev-slide .button-prev-standart {
		top: 40%;
	}

	.button-prev-on-hover {
		top: 40%;
	}

	.button-next-on-hover {
		top: 40%;
	}
}

@media (max-width: 960px) {
	.banner-text {
		padding: 17px 0 17px 20px;
		font-size: 12px;
		height: 100px;
		width: 600px;
		bottom: 200px;
		left: 10%;
	}
}

@media (max-width: 768px) {
	.values-content {
		display: flex;
		flex-direction: row;
	}

	.banner-text {
		padding: 12px 0 12px 20px;
		font-size: 10px;
		height: 70px;
		width: 500px;
		bottom: 150px;
		left: 10%;
	}
}

@media (max-width: 679px) {
	.banner-text {
		padding: 11px 0 11px 20px;
		font-size: 9px;
		height: 70px;
		width: 450px;
		bottom: 120px;
		left: 6%;
	}
	.button-next-slide .button-next-standart {
		top: 30%;
		font-size: 40px;
	}

	.button-prev-slide .button-prev-standart {
		top: 30%;
		font-size: 40px;
	}

	.button-prev-on-hover {
		top: 30%;
		font-size: 40px;
	}

	.button-next-on-hover {
		top: 30%;
		font-size: 40px;
	}
}

@media (max-width: 480px) {
	.banner-text {
		padding: 10px 0 10px 20px;
		font-size: 9px;
		height: 60px;
		width: 400px;
		bottom: 100px;
		left: 10%;
	}
}
